
body{
    /*VARIABLE SOLO CON CSS*/
    --rojo: red;


    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}


#layout{
    /*Con inline-flex la caja se adapta al contenido que tenga dentro de ella*/
    /*Con flex ocupa el tamaño maximo o 100%*/
    /*display: inline-flex;*/
    
    display: flex;
    /*
    flex-direction: row;
    flex-wrap: wrap;
    */
    flex-flow: row wrap;
    justify-content:space-evenly;

    height: 600px;
    align-items: flex-start;

    border: 3px solid black;
    padding: 5px;
}

.caja{
    /*flex-grow: 1;*/
   
    /*flex-basis: calc((100% / 3) - 68px);*/
    

    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 20px;
    border: 4px solid #222;
    margin: 10px;
    background-color: gray;
}

.red{/*
    flex-grow: 5;*/
    align-self: flex-start;
    background:var(--rojo);
    
}

.green{
    margin-top: 10%;
    background: green;
}

.blue{
    align-self: center;

    /*flex-grow: 0;
    flex-shrink: 0;*/
    background: blue;
    
}

.orange{
    align-self: flex-end;

    /*flex-basis: 100%;*/
    background: orange;
}