@font-face{
    font-family: KaushanCustom;
    src: url(fonts/Kaushan/KaushanScript-Regular.ttf)
}

h1{
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family: 'Bangers', cursive;
    font-style: italic;
    text-transform: uppercase;
    font-size: 45px;

    /*=====Colores=====*/
    /*Colores del sistema*/
    color: mediumslateblue;

    /*Color hexadecimales*/
    color: #cccccc;

    /*Colores RGB*/
    color: rgba(164, 56, 90);

    /*Colores RGBA*/
    color:rgba(164, 56, 90, 0.5);

}

h3{
    font-family: KaushanCustom, "Comic Sans MS";
    font-size: 35px;
    font-weight: lighter;
    color: olive;
}

p{
    font-family:sans-serif;
    font-size: 18px;
    font-weight: bold;
}

/*
font-style: Sirve para el estilo de la letra
font-weight: El grosor de la letra
*/
